# Local excludes in root directory
/GNUmakefile
/config.log
/config.status
/VERSION
/CMakeLists.txt

# Reduce docker context
/gpAux/gpdemo/datadirs
**/*.so
**/*.o

# Arenadata test image
arenadata/
.dockerignore
.github
.vscode
